<div class="small-12 medium-9 large-6">
    <div class="small-12 columns">
        {{ form_widget(form.computopCreditCard.url) }}

        <a href="{{ form.computopCreditCard.vars.value.url }}">
            {{ 'Pay with Computop Credit Card' | trans }}
        </a>
    </div>
</div>