<div class="small-12 medium-9 large-6">
    <div class="small-12 columns">
        {{ form_widget(form.computopDirectDebit.url) }}

        <a href="{{ form.computopDirectDebit.vars.value.url }}">
            {{ 'Pay with Computop Direct Debit' | trans }}
        </a>
    </div>
</div>