<div class="small-12 medium-9 large-6">
    <div class="small-12 columns">
        {{ form_widget(form.computopEasyCredit.url) }}

        <a href="{{ form.computopEasyCredit.vars.value.url }}">
            {{ 'Pay with Computop Easy Credit' | trans }}
        </a>
    </div>
</div>