<div class="small-12 medium-9 large-6">
    <div class="small-12 columns">
        {{ form_widget(form.computopPayPal.url) }}

        <a href="{{ form.computopPayPal.vars.value.url }}">
            {{ 'Pay with Computop Pay Pal' | trans }}
        </a>
    </div>
</div>