<div class="small-12 medium-9 large-6">
    <div class="small-12 columns">
        {{ form_widget(form.ComputopSofort.MerchantID, {'full_name': 'MerchantID'}) }}
        {{ form_widget(form.ComputopSofort.Data, {'full_name': 'Data'}) }}
        {{ form_widget(form.ComputopSofort.Len, {'full_name': 'Len'}) }}
        {{ form_widget(form.ComputopSofort.url) }}
    </div>
</div>